{% extends "../layout.html" %}
{% block content %}
{% load static %}
<div>
  <div class="form-group" class="mx-2 my-4 px-2 py-2" >
  <h6 class="ml-2 mt-2">
      Add new product 
  </h6>
  </div>
    <form method="POST" class="mx-2 my-4 px-2 py-2 border border-secondary rounded">
        {% csrf_token%}
        <div class="form-group">
            <label for="product_name" class="mt-2">Name</label>
            <input type="text" class="form-control mt-2" name="name" id="product_name" placeholder="Enter Product Name">
        </div>
        <div class="form-group">
            <label for="stock_sold" class="mt-4">Items Sold</label>
            <input type="number" class="form-control mt-2" name="sold" id="stock_sold" placeholder="No. of Items Sold">
        </div>
        <div class="form-group">
            <label for="stock_left" class="mt-4">In Stock</label>
            <input type="number" class="form-control mt-2" name="stock_left" id="stock_left" placeholder="Left in Stock">
        </div>
        <div class="form-group">
            <label for="price" class="mt-4">Price</label>
            <input type="number" class="form-control mt-2" name="price" id="price" placeholder="Cost per item">
        </div>
        <div class="form-group">
          <label for="discount" class="mt-4">Discount</label>
          <input type="number" class="form-control mt-2" name="discount" id="discount" placeholder="Discount">
      </div>
      <div id="active" class="form-group">
        <label for="yes_no_active">Active Status ?</label>
      <p>
      <input type="radio" name="yes_no" value="1" checked>Yes</input>
      </p>
      <p>
      <input type="radio" name="yes_no" value="0" >No</input>
      </p>
      </div>
        <div class="form-group col col-justify-content">
            <button type="submit" class="btn btn-primary mt-2 ">Submit</button>
      </div>
    </form>
    
</div>
{% if msg == "1" %}
        <div class="alert alert-success mt-2" role="alert">
          Product added Successfully
        </div>
      {% elif msg == "0" %}
        <div class="alert alert-danger" role="alert">
          Same name product already exist
        </div>
      {% endif %}
{% endblock %}