{% extends "../layout.html" %}
{% block content %}

    <div class="container content-section">
        <table class="mt-4 table table-hover table-bordered table-sm">
            <thead class="table-info text-center">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Product ID</th>
                    <th scope="col">In Stock</th>
                    <th scope="col">Items Sold</th> 
                    <th scope="col">Price</th>
                    <th scope="col">Discount</th>
                    <th scope="col">Revenue</th>
                    <th scope="col" >Active/In stock</th>
                    <th scope="col" >Action</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% for inventory in inventories %}
            
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <th scope="row">{{inventory.Name}}</th>
                    <th scope="row">{{inventory.id}}</th>
                    <th scope="row">{{inventory.in_stock}}</th>
                    <th scope="row">{{inventory.sold}}</th>
                    <th scope="row">{{inventory.price}}</th>
                    <th scope="row">{{inventory.discount}}</th>
                    <th scope="row">{{inventory.revenue}}</th>
                    <th scope="row">{{inventory.active}}</th>
                    
                    <th scope="row">
                        

                        <div class="container d-flex justify-content-center">
                            <a href="/update/{{inventory.id}}" class="btn btn-secondary mr-2" > Update </a>
                            <button type="button" class="ml-2 btn btn-danger" data-toggle="modal" data-target="#my-modal">Delete</button>
                            <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content border-0">   
                                        <div class="modal-body p-0">
                                            <div class="card border-0 p-sm-3 p-2 justify-content-center">
                                                <div class="card-header pb-0 bg-white border-0 text-left">
                                                    <div class="row">
                                                        <div class="col ml-auto">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
                                                                <span aria-hidden="true">&times;</span> 
                                                            </button>
                                                        </div> 
                                                    </div>
                                                    <p class="font-weight-bold mb-2"> Are you sure you wanna delete this ?</p><p class="text-muted "> This process cannot be undone. </p>     
                                                </div>
                                                <div class="card-body px-sm-4 mb-2 pt-1 pb-0"> 
                                                    <div class="row justify-content-end no-gutters">
                                                        <div class="col-auto">
                                                            <button type="button" class="btn btn-light text-muted" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                        <div class="col-auto">
                                                            <a href="/delete_item/{{inventory.id}}" class="btn btn-danger" > Delete </a>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
             
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mt-4 col-10">
            <h6>Total no of Products = {{count}}</h4><br>
            <h6>Item sold so far = {{t_sold}}</h4><br>
            <h6>Total Sale so far = {{sale}}</h4><br>
            <h6>Total stock = {{t_items}}</h4><br>
            <h6>Available inventory value = {{t_worth}}</h4><br>    
        </div>
    </div>
{% endblock %}