{% extends "../layout.html" %}
{% block content %}

    <form method="GET" class="mx-2 my-2 px-2 py-2 border border-secondary rounded">
        <div class="form-group">
            <h6>
                Enter product name you want to edit 
            </h6>
            <input type="text"  class="form-control mt-2" name="name" id="product_name" placeholder="Name">
            <button type="submit" class="mt-2 btn btn-secondary rounded" id="get_data" name="get_data"  > Get data </button>
        </div> 
    </form>

    <form method="POST" class="mx-2 my-2 px-2 py-2 border border-secondary rounded">
        {% csrf_token %}
        {% for d in data %}
        <input type="text"  class="form-control " name="name" id="product_name" placeholder="Name" value="{{d.Name}}" hidden>
        <input type="text"  class="form-control " name="id" id="id" placeholder="id" value="{{d.id}}" hidden>
        <div class="form-group">
            <label for="new_product_name" class="mt-4">Name </label>
            <input type="text"  class="form-control mt-2" name="new_name" id="new_product_name" placeholder="Current = {{d.Name}}">
        </div>
        <div class="form-group">
            <label for="stock_sold" class="mt-4">{{d.Name}} sold </label><br>
            <input type="number" class="form-control mt-2" name="sold" id="stock_sold" placeholder="currently = {{d.sold}}">
        </div>
        <div class="form-group">
            <label for="stock_left" class="mt-4">{{d.Name}} in Stock </label><br> 
            <input type="number" class="form-control mt-2" name="stock_left" id="stock_left" placeholder="currently = {{d.in_stock}}">
        </div>
        <div class="form-group">
            <label for="price" class="mt-4">{{d.Name}} cost</label><br>
            <input type="number" class="form-control mt-2" name="price" id="price" placeholder="currently = {{d.price}}">
        </div>
        <div class="form-group">
            <label for="discount" class="mt-4">Discount</label>
            <input type="number" class="form-control mt-2" name="discount" id="discount" placeholder="Currently = {{d.discount}}">
        </div>
        <div id="active" class="form-group">
            <label for="yes_no_active">Active Status ?</label>
          <p>
          <input type="radio" name="yes_no" value="1" checked>Yes</input>
          </p>
          <p>
          <input type="radio" name="yes_no" value="0" >No</input>
          </p>
        </div>
        <div class="form-group col col-justify-content">
            <button type="submit" class="btn btn-primary mt-2 ">Apply changes</button>
        </div>
    </form>
    {% endfor %}

        {% if msg == "1" %}
        <div class="alert alert-success mt-2" role="alert">
            Product details updated Successfully
        </div>
        {% elif msg == "-1" %}
        <div class="alert alert-danger" role="alert">
            Same named product already exist try other name.
        </div>
        {% endif %}
</div>
<script>
    $( function() {
      
      $( "#product_name" ).autocomplete({
        source: '{% url "get-names"  %}'
      });
    } );
</script>

 

{% endblock %}